*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -mox-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #aaaeb2;
    background: #f1f1f1;
}

section {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}

section article {
    vertical-align: top;
    display: inline-block;
    width: 50%;
    margin-bottom: -4px;
}

section img {
    width: 100%;
    height: auto;
    padding: 4px;
}

section .info {
    width: 150%;
    padding: 3em 0;
    margin: 0 10%;
    position: relative;
    float: left;
    opacity: 0;
    height: 0;
    font-size: 0;
}

section .info h1 {
    margin-bottom: .5em;
}
section .info p,
section .info ul {
    margin-bottom: 2em;
    line-height: 140%;
}

section .info ul {
    margin-left: 20px;
}
section .info li {
    list-style: square;
    line-height: 140%;
}

section .info .moreBtn {
    display: block;
    margin-top: .4em;
    padding: .4em;
    background: #006699;
    text-align: center;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s background-color;
}

section .info .moreBtn {
    background: #0672a8;
}

article:nth-child(2n+1) .info {
    left: 0;
}
article:nth-child(2n+2) .info {
    left: -100%;
}

section article:target .info {
    height: auto;
    font-size: 100%;
    opacity: 1;
    transition: .4s .4s opacity;
}

section article:target img {
    box-shadow: 0 8px 3px -4px rgba(0, 0, 0, .5);
    transform: scale(1.1);
    transition: .5s;
}

section article:nth-child(3n+1) .info {
    left: 0;
}
section article:nth-child(3n+2) .info {
    left: -100%;
}
section article:nth-child(3n+3) .info {
    left: -200%;
}

section article .moreBtn {
    display: inline-block;
    float: left;
    clear: both;
    width: auto;
    margin-top: 2em 0 0 0;
}

section article .description {
    float: left;
    width: 50%
    }
    section article ul {
        float: right;
        width: 30%;
    }

@media only screen and (min-width: 400px){
    section article {
        width:33%
    }
    section article .info {
        width: 280%;
    }
}
